@import url("./index.css");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.screen-container {
  display: flex;
  justify-content: center;
}

.forms-container {
  background-color: var(--main-brand);
  max-width: 304px;
  margin-right: 32px;
}

.resume-container {
  background-color: var(--light-primary);
  min-width: 45%;
  max-width: 912px;
  aspect-ratio: 8.5/11;
}
