:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-primary: #f6f4f4;
  --light-accent: #987e54;
  --main-brand: #969b8a;
  --dark-accent: #71634c;
  --dark-primary: #2c372c;
  background-color: var(--dark-primary);
}
